body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #eae4db;
    display: flex;
    place-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fdfff9;
    width: 300px;
    height: 605px;
    padding: 20px;
    border: 1px solid #d4c4a8;
    border-radius: 10px;
    position: relative;
    text-align: center;

}

.contain {
    content: '';
    border: #53412e;
    color: #53412e;
    margin-top: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #d4c4a8;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: 0.5s;
    position: relative;

}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #9c845a;
    border-radius: 10px;
    margin: 10px;
    transition: 0.5s;
}

.menu ul {
    font-size: 18px;
    display: flex;
    position: relative;
    margin-left: 2px;
}

.menu ul li {
    text-decoration: none;
    text-decoration-line: none;
    letter-spacing: 1px;
    list-style: none;
    padding-left: 20px;
}

.date {
    bottom: 20px;
    color: #575045;
    font-size: 14px;
    font-weight: bold;
}

.vertical-text {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    padding-top: 60px;
    padding-bottom: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: lighter;
}

.vertical-text small {
    font-size: 12px;
    display: block;
    color: #575045;
    padding-top: 10px;
}

.gambar {
    width: 180px;
    left: 0px;
    position: relative;
    transition: all 1s ease-in-out;
    transform: translate(x, 10px);
}

.title {
    margin: 0px;
    font-size: 18px;
}

.names {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    margin: 10px 0;

}

.guest {
    font-size: 14px;
    margin: 10px 0;
}

.guest-name {
    font-size: 16px;
    font-weight: bold;
    color: #a67c52;
    padding-bottom: 10px;
}

.button {

    background-color: #a67c52;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.button:hover {
    color: #5a5046;
    transform: scale(20px)translate(20px);
    transition: all 0.2s ease-in-out;
    background-color: #b9b7b4;
}

.icons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icons i {
    font-size: 20px;
    color: #a67c52;
    cursor: pointer;
}